button {
    padding: 10px;
    background-color: skyblue;
    margin-top: 10px;
}
input {
    padding: 10px;
    width: 15%;
}
a {
    padding: 10px;
    background-color: skyblue;
    margin-top: 10px;
    text-decoration: none;
}